<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header" data-background-color="blue">
                        <i class="material-icons">add_shopping_cart</i>
                    </div>
                    <div class="card-content">
                        <p class="category">Commandes</p>

        <!--------------------------------------select command from the database for courtier-------------------------------------------------->
                        <h3 class="card-title">184</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons text-gray">details</i>
                            <a  class="text-primary" href="#description-1" role="tab" data-toggle="tab">Details</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header" data-background-color="green">
                        <i class="material-icons">shopping_basket</i>
                    </div>
                    <div class="card-content">
                        <p class="category">Achats</p>
<!---------------------------------------------select the number of achats from database that need to be fullfiled--------------------------------------------->
                        <h3 class="card-title">11212</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons text-gray">details</i>
                            <a  class="text-primary" href="#schedule-1" role="tab" data-toggle="tab">Details</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header" data-background-color="red">
                        <i class="material-icons">payment</i>
                    </div>
                    <div class="card-content">
                        <p class="category">Paiements</p>
                        <h3 class="card-title">13 en attend</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons text-gray">details</i>
                            <a  class="text-primary" href="#tasks-1" role="tab" data-toggle="tab">Details</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header" data-background-color="purple">
                        <i class="material-icons">perm_contact_calendar</i>
                    </div>
                    <div class="card-content">
                        <p class="category">Courties</p>
                        <h3 class="card-title">Courties</h3>

                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons text-gray">details</i>
                            <a  class="text-primary" href="#tasks-2" role="tab" data-toggle="tab">Details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="tab-content">
                    <div class="tab-pane" id="description-1">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Description about product</h4>
                                <p class="category">
                                    More information here
                                </p>
                            </div>
                            <div class="card-content">
                                Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits.
                                <br />
                                <br /> Dramatically visualize customer directed convergence without revolutionary ROI.
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane active" id="schedule-1">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Location of the product</h4>
                                <p class="category">
                                    More information here
                                </p>
                            </div>
                            <div class="card-content">
                                Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas.
                                <br />
                                <br /> Dramatically maintain clicks-and-mortar solutions without functional solutions.
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tasks-1">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Legal info of the product</h4>
                                <p class="category">
                                    More information here
                                </p>
                            </div>
                            <div class="card-content">
                                Completely synergize resource taxing relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas.
                                <br />
                                <br />Dynamically innovate resource-leveling customer service for state of the art customer service.
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tasks-2">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Help center</h4>
                                <p class="category">
                                    More information here
                                </p>
                            </div>
                            <div class="card-content">
                                From the seamless transition of glass and metal to the streamlined profile, every detail was carefully considered to enhance your experience. So while its display is larger, the phone feels just right.
                                <br />
                                <br /> Another Text. The first thing you notice when you hold the phone is how great it feels in your hand. The cover glass curves down around the sides to meet the anodized aluminum enclosure in a remarkable, simplified design.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

